<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengxi.mapper.StudentMapper">

    <select id="list" parameterType="com.shengxi.pojo.StudentQueryParam" resultType="com.shengxi.pojo.Student">
        select
            s.id,
            s.name,
            s.no,
            s.gender,
            s.phone,
            s.degree,
            s.id_card as idCard,
            s.is_college as isCollege,
            s.address,
            s.graduation_date as graduationDate,
            s.violation_count as violationCount,
            s.violation_score as violationScore,
            s.clazz_id as clazzId,
            s.create_time as createTime,
            s.update_time as updateTime,
            c.name as clazzName
        from student s
        left join clazz c on c.id = s.clazz_id
        <where>
            <if test="name != null and name != ''">
                and s.name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by s.id desc
    </select>

    <delete id="deleteByIds">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.shengxi.pojo.Student" useGeneratedKeys="true" keyProperty="id">
        insert into student
        (name, no, gender, phone, degree, clazz_id,
         id_card, is_college, address, graduation_date,
         create_time, update_time)
        values
        (#{name}, #{no}, #{gender}, #{phone}, #{degree}, #{clazzId},
         #{idCard}, #{isCollege}, #{address}, #{graduationDate},
         #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.shengxi.pojo.Student">
        update student
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="no != null">no = #{no},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null">address = #{address},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateViolation">
        update student
        set
            violation_count = ifnull(violation_count, 0) + 1,
            violation_score = ifnull(violation_score, 0) + #{score},
            update_time = now()
        where id = #{id}
    </update>

    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
        (case degree
            when 1 then '初中'
            when 2 then '高中'
            when 3 then '大专'
            when 4 then '本科'
            when 5 then '硕士'
            when 6 then '博士'
            else '其他' end) as name,
        count(*) as value
        from student
        group by degree
    </select>

    <select id="countStudentCountData" resultType="java.util.Map">
        select c.name as name, count(*) as value
        from student s
        left join clazz c on c.id = s.clazz_id
        group by s.clazz_id
        order by value desc
    </select>

</mapper>
